@page
@model LeasingRazor.Pages.DataAvalist.CreateDataKontrakKreditModel
@{
       Layout = "~/Pages/Shared/AdminLTE/_Layout.cshtml";
  
}


<div class="row">
    <div class="col-md-10">
        <form asp-action="CreateDataKontrakKredit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="NoRegisterKontrakKredit" class="control-label"></label>

                            <input asp-for="NoRegisterKontrakKredit" class="form-control" />
                            <span asp-validation-for="NoRegisterKontrakKredit" class="text-danger"></span>

                        </div>
                    </div>*@
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKredit.NoRegisterSurvei" class="control-label"></label>
                        <button id="test1"></button>
                        <select asp-items="@ViewBag.DataSurvei1" asp-for="DataKonstrakKredit.NoRegisterSurvei" class="form-control"></select>

                        <span asp-validation-for="DataKonstrakKredit.NoRegisterSurvei" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKredit.TanggalKontrak" class="control-label"></label>
                        <input id="TanggalKontrak1" asp-for="DataKonstrakKredit.TanggalKontrak" class="form-control" />
                        <span asp-validation-for="DataKonstrakKredit.TanggalKontrak" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKredit.PolaAngsuran" class="control-label"></label>
                        <select asp-items="@ViewBag.PolaAngsuran1" id="PolaAngsuran1a" asp-for="DataKonstrakKredit.PolaAngsuran" class="form-control">
                            <option>Silahkan Pilih Data</option>
                        </select>

                        <span asp-validation-for="DataKonstrakKredit.PolaAngsuran" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKredit.AngsuranDimuka" class="control-label"></label>
                        <select asp-items="@ViewBag.AngsuranDimuka1" id="AngsuranDimk1a" asp-for="DataKonstrakKredit.AngsuranDimuka" class="form-control">
                            <option>Silahkan Pilih Data</option>
                        </select>

                        <span asp-validation-for="DataKonstrakKredit.AngsuranDimuka" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKredit.HargaBarang" class="control-label"></label>
                        <input id="HargaOtr1"   value="0" asp-for="DataKonstrakKredit.HargaBarang" class="form-control"  />
                        <span asp-validation-for="DataKonstrakKredit.HargaBarang" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKredit.UangMuka" class="control-label"></label>
                        <input id="Um1" value="0" asp-for="DataKonstrakKredit.UangMuka" class="form-control" />
                        <span asp-validation-for="DataKonstrakKredit.UangMuka" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKredit.Asuransi" class="control-label"></label>
                        <input id="asuransi1" value="0" asp-for="DataKonstrakKredit.Asuransi" class="form-control" />
                        <span asp-validation-for="DataKonstrakKredit.Asuransi" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKredit.Administrasi" class="control-label"></label>
                        <input id="adm1" value="0" asp-for="DataKonstrakKredit.Administrasi" class="form-control" />
                        <span asp-validation-for="DataKonstrakKredit.Administrasi" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKredit.BungaEff" class="control-label"></label>
                        <input id="BEfektif1" value="0" asp-for="DataKonstrakKredit.BungaEff" class="form-control" />
                        <span asp-validation-for="DataKonstrakKredit.BungaEff" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKredit.BungaFlat" class="control-label"></label>
                        <input type="number" id="BFlat1" value="0" readonly asp-for="DataKonstrakKredit.BungaFlat" class="form-control" />

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKredit.LamaKredit" class="control-label"></label>
                        <input id="Tenor1" value="0" asp-for="DataKonstrakKredit.LamaKredit" class="form-control" />
                        <span asp-validation-for="DataKonstrakKredit.LamaKredit" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Pokok Hutang</label>

                        <input readonly id="PokokHutang1a" value="0" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">

                        <label asp-for="DataKonstrakKredit.CaraBayar" class="control-label"></label>
                        <select asp-for="DataKonstrakKredit.CaraBayar" class="form-control" asp-items="@ViewBag.CaraBayar1"></select>

                        <span asp-validation-for="DataKonstrakKredit.CaraBayar" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKredit.NilaiBunga" class="control-label"></label>
                        <input id="NilaiBunga1" value="0" readonly class="form-control" />
                        <input hidden id="NilaiBunga2"  value="0" readonly asp-for="DataKonstrakKredit.NilaiBunga" class="form-control" />


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKredit.NilaiKontrak" class="control-label"></label>
                        <input id="NilaiKontrak1" value="0" readonly class="form-control" />
                        <input hidden id="NilaiKontrak2"  asp-for="DataKonstrakKredit.NilaiKontrak" />


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKredit.AngsuranBulanan" class="control-label"></label>
                        <input hidden  id="AngsuranBln2" asp-for="DataKonstrakKredit.AngsuranBulanan" />
                        <input id="AngsuranBln1" value="0" readonly class="form-control" />

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKredit.BiayaAdministrasiAngsuran" class="control-label"></label>
                        <input id="AdmAngsuran1" value="0" asp-for="DataKonstrakKredit.BiayaAdministrasiAngsuran" class="form-control" />
                        <span asp-validation-for="DataKonstrakKredit.BiayaAdministrasiAngsuran" class="text-danger"></span>
                    </div>
                </div>
                  <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKredit.PenagihId" class="control-label"></label>
                   
                           <select asp-items="@ViewBag.Penagih"  asp-for="DataKonstrakKredit.PenagihId" class="form-control">
                            <option>Silahkan Pilih Data</option>
                        </select>

                                
                            <span asp-validation-for="DataKonstrakKredit.PenagihId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                     

                        <label asp-for="DataKonstrakKredit.TanggalAngsuranBulanan" class="control-label"></label>
                        <input id="tglAngsuranBlnan1" value="5" asp-for="DataKonstrakKredit.TanggalAngsuranBulanan" class="form-control" />
                        <span asp-validation-for="DataKonstrakKredit.TanggalAngsuranBulanan" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />

                    </div>
                </div>

            </div>

        </form>
    </div>
</div>
